* {
    padding: 0;
    margin: 0;
box-sizing: border-box;
}

body {
    background-size: cover;
    align-items: center;
background: linear-gradient(30deg,rgb(100,241,84),rgb(92,92,229),rgb(111,30,30));

}

header {
    display: flex;
background: linear-gradient(30deg,rgb(100,241,84),rgb(92,92,229),rgb(111,30,30));
    align-items: center;
    padding: 10px 10px;
    justify-content: space-between;
}
.link{
    color: black;
    text-shadow: 1px 1px white;
}
h1 {
    display: flex;
    color: black;
    margin: 10px;
    text-shadow: 1px 1px white;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;

}

nav a {
    font-weight: 1000;
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 10px 10px;

}

nav a:hover {
    color: white;
}

.Descripcion {

   max-width: 100%;
    height: 300px;
    margin: 0px 50px;
    text-align: center;
}

.pie {
    position: absolute;
    width: 100%;
    background-color:linear-gradient(30deg,rgb(100,241,84),rgb(92,92,229),rgb(111,30,30));
    margin-top: 28%;
    color: white;
    font-size: 14px;
    font-family: Arial, sans-serif;
    justify-content: center;


}

h2 {
    padding: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fb {
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    height: 10%;
    margin: 10px 5px;

}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 10px;
    align-items: center;



}


.fb:hover i {
    color: white;
    transition: 0.1s;
    transform: scale(1.1);
}

.it {
    background: rgb(255, 0, 179);
    padding: 10px;
  
    border-radius: 10px;
    height: 10%;
    margin: 10px 5px;
}

.it:hover i {
    color: darkblue;
    transition: 0.3s;
    transform: scale(1.1);
}

.wsp {
    display: flex;
    background: green;
    padding: 10px 12px;
    margin: 10px 5px;
    border-radius: 10px;
    align-content: center;

}

.wsp:hover i {
    color: darkblue;
    transition: 0.3s;
    transform: scale(1.1);
}

.redes {
    display: flex;
    justify-content: center;

}

.redes a {
    text-decoration: none;
}

.derechos {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
}

.derechos p {
    font-weight: bold;
    color: black;
}
.header{
 
    width: 100%;
    height: 70px;
    padding-top: 2%;
}
.redes {
    display: flex;
    justify-content: center;
    margin: 10px 0;

}

.copyraight {
    font-size: 20px;
}

.redes h2 {
    color: black;
}

.redes i {
    font-size: 30px;
    text-decoration: none;
}

p {
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 500px) {
 
.us{
    font-size: 20px;
    color: black;
    width: 100%;

    
}
nav{
   
    width: 100px; 
}

.SobreNosotros{
 
    width: 100%;
}
.Descripcion{
    width: 100%;
    margin-left: 0;
}
.pie{
    
    bottom: 0;
}
h2{
    text-shadow: 1px 1px white;
}
.titleRedes {
    color: black;
    font-size: 20px;
}
h1{
    font-size: 25px;
}
a{
   
    font-size: 6px;
}

.pie{

   
}    
.header {
    width: 100%;
    height: 100px;
}

.redes h2 {

    padding-top: 12px;
}

.redes i {
    font-size: 15px;
}

.derechos {

    margin-top: 5px;

}

.copyraight {
    font-size: 13px;

}

}