* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background-color: white;
background: linear-gradient(30deg,rgb(100,241,84),rgb(92,92,229),rgb(111,30,30));
}

.title {
  
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}
.container{
    width: 100%;
    height: 90vh;
   padding-bottom: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}
    .imgContainer{
      
        width: 100%;
        height: 600px;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        transition: 1s;
    }
    .slide_div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 30px 0 30px;
    }
    .img{
        position: relative;
        height: 370px;
        width: 240px;
        filter: saturate(10%);
        transition: 0.7s;
        border-radius: 20px;
      


    }
    .button{
        position: absolute;
        width: 240px;
        height: 370px;
        transition: 0.7s;
        border-radius: 20px;
    }
    .button:hover{
        background-color: rgba(0,0,0,0.2);
    }
    #slider1:target ~ .imgContainer #img1,
    #slider1:target ~ .imgContainer #button1{
        width: 390px;
        height: 600px;
        background-color: transparent;
        filter: saturate(100%);
    }
    #slider2:target ~ .imgContainer #img2,
    #slider2:target ~ .imgContainer #button2{
        width: 390px;
        height: 600px;
        background-color: transparent;
        filter: saturate(100%);
    }
    #slider3:target ~ .imgContainer #img3,
    #slider3:target ~ .imgContainer #button3{
        width: 390px;
        height: 600px;
        background-color: transparent;
        filter: saturate(100%);
    }
    #slider1:target~.imgContainer{
        left: 40%;
    }
    #slider2:target~.imgContainer{
        left: 0%;
    }
    #slider3:target~.imgContainer{
        left: 40%;
    }
/* a partir de aca es la parte de main */
header {
    display: flex;
    background:  linear-gradient(30deg,rgb(100,241,84),rgb(92,92,229),rgb(111,30,30));
    align-items: center;
    top: 0;
    justify-content: space-between;
}

h1 {
    display: flex;
    color: white;
    margin: 10px;
}

h4 {
    display: flex;
}


a {
    text-decoration: none;
}

i {
    color: white;
}


.main {
    display: flex;
    background: linear-gradient(30deg,rgb(100,241,84),rgb(92,92,229),rgb(111,30,30));
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.Carteles {
    display: flex;
    position: relative;
    width: 70%;
    height: 60vh;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px;
    margin: 0px 10px 0px 25px;
    align-content: center;

}

#items-categorias {

    margin: 0px 10px 0px 30px;
}

#categorias {

    width: 200px;
    height: 150px;
    border: 4px solid black;
    border-radius: 10%;

}

.Clasificacion {
    position: absolute;
    width: 23%;
    height: 60%;
    display: flex;
    color: white;
    border-radius: 1em;
    background-color: rgb(93, 65, 18);
    text-align: center;
    margin: 0px 75%;


}

li {
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;

}

#MasSolicitados {
    font-size: 30px;

}

#aside {

    position: absolute;
    border-radius: 1em;
    float: right;
    text-align: center;


}

nav a {
    font-weight: 1000;
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    transition: 0.5s;
   

}

nav a:hover {
    color: brown;
   transform: scale(1.8);
}

#aside {
    width: 100%;
}


#contenido p {
    text-align: center;
}

#aside h2 {
    text-align: center;
}

#aside a {
    color: black;
    text-decoration: none;
}

#aside a:hover {
    color: white;
}

.pie {
    flex-direction: column;
    background: linear-gradient(30deg,rgb(100,241,84),rgb(92,92,229),rgb(111,30,30));
    color: white;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    justify-content: center;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;


}

h2 {
    padding: 20px 25px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fb {
    background-color: blue;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    height: 10%;
    margin: 10px 5px;

}

.fb:hover i {
    color: white;
    transition: 0.6s;
    transform: scale(1.1);
}
nav:hover{
    transition: 0.3s;
    transform: scale(1.6s);
}
#categorias:hover{
    color: blue;
   
    transform: scale(1.2);
   
}

.it {
    background: rgb(255, 0, 179);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    height: 10%;
    margin: 10px 5px;
}

.it:hover i {
    color: darkblue;
    transition: 0.3s;
    transform: scale(1.1);
}

.wsp {
    display: flex;

    background: green;
    padding: 10px 12px;
    margin: 10px 5px;
    border-radius: 10px;
    align-content: center;

}

.wsp:hover i {
    color: darkblue;
    transition: 0.3s;
    transform: scale(1.1);
}

.redes {
    display: flex;
    justify-content: center;
    padding: 0px 0px;

}

.redes a {
    text-decoration: none;
}

.derechos {
    display: flex;
    justify-content: center;
    padding: 10px;
    ;
    background: 6115b9097c5f6bb7rgb(0, 47, 255);

}

.derechos p {
    font-weight: bold;
    color: black;
}

.redes {
    display: flex;
    justify-content: center;

}

.redes h2 {
    color: black;
}

.redes i {
    font-size: 30px;
    text-decoration: none;
}

@media (max-width: 600px) {
    @media only screen and (max-width: 600px) {
        .Clasificacion {
            height: 10%;
        }

        #aside {
            width: 100%;
            margin-bottom: 200px;
        }

        ul {
            padding: 0;
        }



        H2 {
            font-size: 18px;
        }
    }
}