@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: linear-gradient(30deg, rgb(100, 241, 84), rgb(92, 92, 229), rgb(111, 30, 30));
}

h1 {
    text-shadow: 1px 1px white;
}

.title {
    text-align: center;
    text-shadow: 2px 2px white;
    color: black;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 40px;
    text-transform: uppercase;
}

.container-images {
    position: relative;
    width: 100%;
    height: 700px;
    padding-left: 14%;
}

.vestidos {
    display: flex;
    float: left;
    position: relative;
    margin: 50px 80px;
    padding-top: 0;


}

.images {
    width: 300px;
    height: 270px;
    border-radius: 15px;
    padding: 3px 3px;
    border: 2px solid black;

}

/* a partir de aca es la parte de main */
header {

    display: flex;
    background: linear-gradient(30deg, rgb(100, 241, 84), rgb(92, 92, 229), rgb(111, 30, 30));
    align-items: center;
    top: 0;
    justify-content: space-between;
}

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    display: flex;
    margin: 10px;
}

h4 {
    display: flex;
}


a {
    text-decoration: none;
}

i {
    color: white;
}


.main {
    display: flex;
    margin-top: 1%;
    background: linear-gradient(30deg, rgb(100, 241, 84), rgb(92, 92, 229), rgb(111, 30, 30));
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.Carteles {

    display: flex;
    position: relative;
    width: 70%;
    height: 60vh;
    flex-wrap: wrap;
    gap: 25px;
    padding: 10px;
    margin: 0px 10px 0px 25px;
    align-content: center;

}

#items-categorias {

    margin: 0px 10px 0px 30px;
}

#categorias {

    width: 200px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10%;

}

.Clasificacion {
    position: absolute;
    width: 23%;
    height: 60%;
    display: flex;
    color: white;
    border-radius: 1em;
    background-color: rgb(93, 65, 18);
    text-align: center;
    margin: 0px 75%;


}

li {
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;

}

#MasSolicitados {
    font-size: 30px;

}

#aside {

    position: absolute;
    border-radius: 1em;
    float: right;
    text-align: center;


}

nav a {
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Goudy Bookletter 1911', serif;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    transition: 0.5s;
    text-shadow: 1px 1px white;
}

nav a:hover {
    color: white;

}

#aside {
    width: 100%;
}


#contenido p {
    text-align: center;
}

#aside h2 {
    text-align: center;
}

#aside a {
    color: black;
    text-decoration: none;
}

#aside a:hover {
    color: white;
}

.pie {
    flex-direction: column;
    background: linear-gradient(30deg, rgb(100, 241, 84), rgb(92, 92, 229), rgb(111, 30, 30));
    color: white;
    padding: 10px 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    justify-content: center;


}

.header {
    display: flex;
    justify-content: center;
    align-items: center;


}

h2 {
    padding: 20px 25px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fb {
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 10px 5px;

}

.fb:hover i {
    color: white;
    transition: 0.6s;
    transform: scale(1.1);
}

nav:hover {
    transition: 0.3s;
    transform: scale(1.6s);
}

#categorias:hover {
    color: blue;

    transform: scale(1.2);

}

.it {
    background: rgb(255, 0, 179);
    padding: 10px;
    border-radius: 10px;
    height: 10%;
    margin: 10px 5px;
}

.it:hover i {
    color: darkblue;
    transition: 0.3s;
    transform: scale(1.1);
}

.wsp {
    display: flex;
    background: green;
    padding: 10px 12px;
    margin: 10px 5px;
    border-radius: 10px;
    align-content: center;
}

.wsp:hover i {
    color: darkblue;
    transition: 0.3s;
    transform: scale(1.1);
}

.redes {

    display: flex;
    justify-content: center;

}

.redes a {
    text-decoration: none;
}

.derechos {
    display: flex;
    justify-content: center;
    padding: 10px;

}

.derechos p {
    font-weight: bolder;
    color: black;
    font-size: 20px;
}


.redes h2 {
    color: black;
}

.link {

    font-size: 30px;
}

.redes i {
    font-size: 30px;
    text-decoration: none;
}

@media screen and (max-width:400px) {
    body {
        box-sizing: border-box;
        background-repeat: no-repeat;
        width: 100%;
        height: 844px;
    }

    .container-images {
        width: 100%;
        height: 800px;
    

    }
    
    .images {
        width: 120px;
        height: 150px;
    }

    .Carteleria {
        position: absolute;
        width: 100%;
        height: 500px;
    }
    .main {
        width: 100%;
        height: 500px;

    }
    .Carteles {
        position: relative;
        left: 1px;
        margin-top: 50px;
        width: 260px;
        height: 350px;
        margin-bottom: 0;

    }

    .vestidos {
        margin-top: 5px;
    }

    #categorias {
        width: 75px;
        height: 100px;
    }

    #items-categorias {
       margin-left: 0;
        width: 90px;
        height: 120px;

    }
    .Clasificacion {
        width: 115px;
        height: 500px;
        margin-left: 67%;
    }

    .Solicitados {
        font-size: 11px;
    }

    #MasSolicitados {
        font-size: 17px;
        margin: 20px 0;
    }

    .descripcion {
        color: white;
        font-size: 10px;
        width: 80px;
        padding-left: 1px;
        text-align: center;
    }
}
@media screen and (max-width:500px){
 body {
        box-sizing: border-box;
        background-repeat: no-repeat;
        width: 100%;
        height: 844px;
       
    }
/*fater of the container-images*/
    .container-images {
        width: 100%;
        height: 800px;

 
    }
   
    .images{
        width: 100px;
        height: 150px;
        margin-left: 50px;
    }
   

    .Carteleria {
        position: absolute;
        width: 100%;
        height: 500px;
    
    }
    .main {
        width: 100%;
        height: 500px;

    }
    .Carteles {
        position: relative;
        left: 1px;
        margin-top: 50px;
        width: 260px;
        height: 350px;
        margin-bottom: 0;

    }

    .vestidos {
        margin-top: 5px;
    }

    #categorias {
        width: 75px;
        height: 100px;
    }

    #items-categorias {
       margin-left: 0;
        width: 90px;
        height: 120px;

    }
    .Clasificacion {
        width: 115px;
        height: 500px;
        margin-left: 67%;
    }

    .Solicitados {
        font-size: 11px;
    }

    #MasSolicitados {
        font-size: 17px;
        margin: 20px 0;
    }

    .descripcion {
        color: white;
        font-size: 10px;
        width: 80px;
        padding-left: 1px;
        text-align: center;
    }

}